@charset 'utf-8';

body {
	margin: 0;
	background: rgb(250,250,250);
	font-family: 'Noto Sans SC', sans-serif!important;
}

center.center {
    display: flex;
	align-items: center;
    justify-content: center;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.98);
	z-index: 10;
}

::-webkit-scrollbar {
	display: none;
}

.nav {
	color: #fff!important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.nav a {
	color: #fff!important;
}

.banner {
	background: url('../img/banner.jpg');
	height: 500px;
	margin-bottom: 20px;
}

.banner-mask {
	height: 500px;
	background: rgba(60,60,60,0.1);
	display: flex;
	align-items: center;
    justify-content: center;
	flex-wrap: wrap!important;
	flex-direction: column!important;
}

.banner-content {
	color: #fff;
}

.banner-content h1 {
	display: block;
	font-size: 30px;
	margin: 0;
}

.post-item,
.post-body {
	margin: 10px 0;
	font-family: 'Noto Sans SC', sans-serif!important;
}

.post-body {
	margin: 0 auto;
	margin-top: -70px;
}

.post-item a {
	color: #000;
	text-decoration: none;
}

.post-title {
	margin-bottom: 0!important;
	padding-bottom: 0!important;
}

.post-excerpt {
	margin: 5px 0;
	font-size: 15px;
	overflow: hidden;
	height: 40px;
	white-space: nowrap;
	text-overflow:ellipsis;
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.post-content {
	font-size: 16px;
}

.post-content blockquote {
	margin-left: 0;
}

.post-excerpt img,
.post-excerpt pre code,
.post-excerpt pre,
.post-excerpt blockquote,
.post-excerpt h1,
.post-excerpt h2,
.post-excerpt h3,
.post-excerpt h4,
.post-excerpt h5,
.post-excerpt h6 {
	display: none;
}

.post-heading {
	margin-bottom: 5px!important;
	margin-top: 8px!important;
}

.mdui-divider {
	margin: 15px 0!important;
}

.footer {
	text-align: center;
	background: rgb(240,240,240);
	padding: 20px 0;
	margin-top: 50px;
}

.loader {
  position: relative;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: #000;
  border-right-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .banner-content h1 {
	  font-size: 40px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .post-body {
	  width: 700px!important;
  }
  .banner-content h1 {
	  font-size: 50px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .post-body {
	  width: 770px!important;
	  padding: 10px 20px;
  }
  .banner-content h1 {
	  font-size: 55px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .post-body {
	  width: 900px!important;
	  padding: 15px 30px;
  }
  .banner-content h1 {
      font-size: 60px;
  }
}